@using Microsoft.AspNetCore.Identity
@using HealthyPawsV2.DAL;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="" method="post">
				<button type="submit" class="btn btn-link" style="color:black">
					<i class="bi bi-box-arrow-right" style="font-size: 25px;"></i>
				</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="navbar-brand" style="font-size:18px; padding: 10px 20px; background-color: rgba(178,90,40,0.8); border-radius: 10px; display: inline-block; color: white;" asp-area="Identity" asp-page="/Account/Login">
				Iniciar Sesión
			</a>
		</li>
	}
</ul>