@model HealthyPawsV2.DAL.PetFile

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>PetFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="petBreedId" class="control-label"></label>
                <select asp-for="petBreedId" class ="form-control" asp-items="ViewBag.petBreedId"></select>
            </div>
            <div class="form-group">
                <label asp-for="idNumber" class="control-label"></label>
                <input asp-for="idNumber" class="form-control" />
                <span asp-validation-for="idNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="petTypeId" class="control-label"></label>
                <input asp-for="petTypeId" class="form-control" />
                <span asp-validation-for="petTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creationDate" class="control-label"></label>
                <input asp-for="creationDate" class="form-control" />
                <span asp-validation-for="creationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vaccineHistory" class="control-label"></label>
                <input asp-for="vaccineHistory" class="form-control" />
                <span asp-validation-for="vaccineHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="castration" class="control-label"></label>
                <input asp-for="castration" class="form-control" />
                <span asp-validation-for="castration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="status" /> @Html.DisplayNameFor(model => model.status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
