@model HealthyPawsV2.DAL.Appointment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="petFile" class="control-label card-subtitle"></label>
                <select asp-for="petFile" class="form-control" asp-items="ViewBag.petFileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="vetId" class="control-label"></label>
                <input asp-for="vetId" class="form-control" />
                <span asp-validation-for="vetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ownerId" class="control-label"></label>
                <select asp-for="ownerId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <label asp-for="documentId" class="control-label"></label>
                <input asp-for="documentId" class ="form-control" asp-items="ViewBag.documentId"></input>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diagnostic" class="control-label"></label>
                <input asp-for="diagnostic" class="form-control" />
                <span asp-validation-for="diagnostic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Additional" class="control-label"></label>
                <input asp-for="Additional" class="form-control" />
                <span asp-validation-for="Additional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
