@model HealthyPawsV2.DAL.Appointment

@{
    ViewData["Title"] = "Editar Cita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h1>Editar Cita</h1>
    </div>

    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />

            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <input asp-for="AppointmentId" class="form-control" readonly />
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>

           <div class="form-group">
                <label asp-for="petFileId" class="control-label"></label>
                <input asp-for="petFileId" class="form-control" readonly />
                <span asp-validation-for="petFileId" class="text-danger"></span>
            </div> 

            <div class="form-group">
                <label asp-for="vetId" class="control-label"></label>
                <input asp-for="vetId" class="form-control" />
                <span asp-validation-for="vetId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ownerId" class="control-label"></label>
                <select asp-for="ownerId" class="form-control" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="ownerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control" asp-items="ViewBag.StatusOptions"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="diagnostic" class="control-label"></label>
                <input asp-for="diagnostic" class="form-control" />
                <span asp-validation-for="diagnostic" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Additional" class="control-label"></label>
                <textarea asp-for="Additional" class="form-control"></textarea>
                <span asp-validation-for="Additional" class="text-danger"></span>
            </div>
            <br />  
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn colorButton" />
                <button type="button" class="btn  colorButton" data-bs-toggle="modal" data-bs-target="#AñadirMedCita">Añadir Medicamentos a la Cita</button>
            </div>
            
        </form>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div> 
</div>





<!-- MODAL -->
<div class="modal fade" id="AñadirMedCita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Inventario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form method="post" asp-controller="AppointmentInventories"  asp-action="Create">
                            <div class="text-danger" validation-summary="ModelOnly"></div>

                            <!-- Campo oculto para el número de cita -->
                            @* <input type="Text" id="appointmentId" name="appointmentId" value="@Model.AppointmentId" /> *@

                            <div class="form-group">
                                <label for="appointmentId" class="control-label">Numéro de Cita</label>
                                <input id="appointmentId" name="appointmentId" class="form-control" value="@Model.AppointmentId" readonly/>
                                <span validation-for="appointmentId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                            <label for="inventoryID" class="control-label">Medicamento</label>
                            <select id="inventoryID" name="inventoryID" class="form-control">
                                <option value="">Seleccione un medicamento</option>
                                    @foreach (var medicamento in ViewData["Medicamentos"] as IEnumerable<SelectListItem>)
                                        {
                                            <option value="@medicamento.Value">@medicamento.Text</option>
                                        }
                                        </select>
                                            <span validation-for="inventoryID" class="text-danger"></span>
                                        </div>

                            <div class="form-group">
                                <label for="dose" class="control-label">Dosis</label>
                                <input id="dose" name="dose" class="form-control" />
                                <span validation-for="dose" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="measuredose" class="control-label">Medida</label>
                                <select id="measuredose" name="measuredose" class="form-control">
                                    <option value="mg">mg</option>
                                    <option value="ml">ml</option>
                                    <option value="gr">gr</option>
                                    <option value="oz">oz</option>
                                </select>
                                <span validation-for="measuredose" class="text-danger"></span>
                            </div>

                            <br />
                            <div class="form-group">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@

