@model HealthyPawsV2.DAL.PetBreed

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Raza de Mascota</h4>
<hr />

<div class="card">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="petTypeId" class="control-label"></label>
                <select asp-for="petTypeId" class="form-control" asp-items="ViewBag.petTypeId"></select>
                <span asp-validation-for="petTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
    

    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
